<footer class="bg-dark text-center text-white">

        <div class="container p-4 pb-0">

            <section class="mb-4">

                <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" role="button"><i class="bi bi-facebook"></i></a>
        
                <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/" role="button"><i class="bi bi-twitter"></i></a>
        
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/accounts/login/" role="button"><i class="bi bi-instagram"></i></a>
        
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/feed/" role="button"><i class="bi bi-linkedin"></i></a>
        
                <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/" role="button"><i class="bi bi-github"></i></a>
            </section>

        </div>

        <div class="text-center p-3" id="footer-1" style="background-color: #601b08;">
            <div id="footercol">
                <h2>Thanks for looking</h2>
            </div>
            <div id="createdf">
                <h5>-Created by Beny Avalos</h5>
            </div>
        </div>

</footer>